.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97%;
    font-size: large;
    font-weight: bold;
    color: #fff;
    padding: 2rem;
    background-color: #121212;
}

.contacto h2 {
    margin-bottom: 1rem;
    color: #f5f117;
}

.contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(255, 87, 87, 0.4);
    padding: 2rem;
    width: 80%;
    max-width: 500px;
    transition: all 0.3s ease;
}

.contacto form input,
.contacto form textarea {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 6px;
    
    font-size: 1rem;
    background-color: #2b2b2b;
    color: #fff;
    transition: border 0.3s;
}

.contacto form input:focus,
.contacto form textarea:focus {
    outline: none;
    border: 1px solid #ffaaaa;
    background-color: #333;
}

.contacto form textarea {
    resize: none;
    min-height: 100px;
}

.contacto form input[type="submit"] {
    
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contacto form input[type="submit"]:hover {
    background-color: #f5f117;
}

.contacto p {
    color: #ffaaaa;
    font-size: 0.9rem;
    margin: 0.25rem 0;
}


.lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 10vh;
    background-color: #0f0c0c;
    color: #ebdc0d;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}
.listafoto{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}
.listafoto img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #f18d09;
    
}

.listafoto p {
    font-size: 1rem;
    margin: 0;
    color: #f1f1f1;
    font-weight: 500;
}
