.contenedor-cartas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.carta {
    background-color: #0f0c0c;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color:#eceaea;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtTPybFcs2hKk7joB_ScJfNp9d63eiUEUKis-VHDiP61Cy1aYJnSPdM1tK_Tlb514v8qA&usqp=CAU);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}

.carta:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carta img {
    max-width: 100%;
    border-radius: 4px;
}

.carta h2 {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #f7f1f1;
}
.carta p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #070707;
}