 body{
  color: #fff;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtTPybFcs2hKk7joB_ScJfNp9d63eiUEUKis-VHDiP61Cy1aYJnSPdM1tK_Tlb514v8qA&usqp=CAU);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}